body {
  background-color: #FFFDCE;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 20px; 
}

.column {
  padding: 15px;
  border: 1px solid #F7DB91;
  background-color: #F7DB91;
}
